<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Patient Record</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Manage User</h1>
         <form action="#" th:action="@{/adminScreen/update}" th:object="${user}" method="post" >
            <input type="hidden" name="id" th.field="*{id}" th:value="${user.id}">
            <input type="hidden" name="password" th.field="*{password}" th:value="${user.password}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th.field="*{name}" class="form-control" th:value="${user.name}">
            </div>
             <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" th.field="*{firstName}" class="form-control" th:value="${user.first_name}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" th.field="*{lastName}" class="form-control" th:value="${user.last_name}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th.field="*{email}" class="form-control" th:value="${user.email}">
            </div>
            
            <button type="submit" class="btn btn-primary">Save Updates</button>
        </form>
    </div>
</body>
</html>
